# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "fdeac7fa9b98347c1681fa09f8af21cc"
name = "TestappSocket"
handle = "testappsocket"
application_url = "https://hwy-economics-rock-nepal.trycloudflare.com"
embedded = true

[build]
include_config_on_deploy = true
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://hwy-economics-rock-nepal.trycloudflare.com/auth/callback",
  "https://hwy-economics-rock-nepal.trycloudflare.com/auth/shopify/callback",
  "https://hwy-economics-rock-nepal.trycloudflare.com/api/auth/callback"
]

[pos]
embedded = false
